<div class="aHl"></div>
<div id=":nh" tabindex="-1"></div>
<div id=":n6" class="ii gt"
    jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc1OTYwNTE5NTc3MjU1MzY0NiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc1OTYwNTE5NTc3MjU1MzY0NiIsbnVsbCxbXV0.">
    <div id=":n5" class="a3s aiL ">
        <div class="adM">
        </div>
        <div style="text-align:center">
            <div class="adM">
            </div>
            <div
                style="text-align:center;margin:auto;padding:50px 30px;width:80%;max-width:500px;background-color:rgb(0,138,153,0.1);border-radius:10px">
                <div class="adM">
                </div>
                <h2
                    style="text-align:center;font-family:'Trebuchet MS',sans-serif;font-size:xx-large;color:#002e33;font-weight:600;letter-spacing:3px">
                    Hello!
                </h2>

                <h3
                    style="text-align:center;font-family:'Trebuchet MS',sans-serif;font-size:x-large;color:#000;font-weight:500;margin-top:30px">
                    Your One Time Password is
                </h3>
                <h2
                    style="text-align:center;font-family:'Trebuchet MS',sans-serif;font-size:xxx-large;background-color:#002e33;color:#fff;font-weight:900;letter-spacing:7px;margin:60px auto 0 auto;width:fit-content;padding:20px;border-radius:7px">
                    {{otp}}
                </h2>
                <p
                    style="text-align:center;font-family:'Trebuchet MS',sans-serif;font-size:medium;color:#666;margin-top:60px">
                    OTP is valid for next 10 minutes.
                </p>
                <p style="text-align:center;font-family:'Trebuchet MS',sans-serif;font-size:medium;color:#666">
                    Please do not share the OTP or login credentials with anyone.
                </p>
                <font color="#888888">
                    <p
                        style="text-align:center;font-family:'Trebuchet MS',sans-serif;font-size:large;color:#002e33;margin-top:30px">
                        URL PRO
                    </p>
                </font>
            </div>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
</div>
<div id=":nl" class="ii gt" style="display:none">
    <div id=":nm" class="a3s aiL "></div>
</div>